h1 {
    color: black;
    margin: 5px auto;
    text-align: center;
    background: whitesmoke;
}

#a {
    margin: 5px auto;
    text-align: center;
    background: whitesmoke;
    color: black;
}


#h2 {
    width: 50%;
    border: solid black 5px;
    margin: 5px auto;
    text-align: center;
    background: whitesmoke;
}

div {
    background: whitesmoke;
}